@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600&display=swap");

$primary-color: #febf10;
$secondary-color: #000000;
$lighter-color: whitesmoke;
$font-primary: "Oswald", sans-serif;

@mixin displayFlex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($size: 1em, $color: $secondary-color, $weight: 100) {
  font-family: $font-primary;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
